In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("../data/2021.csv")

In [3]:
data["INTER"].mean()

1.2040816326530612

In [4]:
data.describe()

,W,FAM,BUS,RES,TEACH,SERV,SOC,MB,STR,IDLE,MISC,DESI,INTER
count,49.00000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000
mean,25.00000,35.755102,8.367347,10.040816,5.489796,2.000000,2.408163,7.020408,12.428571,5.040816,16.938776,6.265306,1.204082
std,14.28869,16.612659,5.468447,6.987963,4.637359,1.968502,3.409047,3.412537,7.960842,4.756396,7.360956,5.667067,1.098855
min,1.00000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,13.00000,25.000000,4.000000,4.000000,0.000000,0.000000,0.000000,5.000000,7.000000,2.000000,12.000000,1.000000,0.000000
50%,25.00000,33.000000,8.000000,10.000000,6.000000,1.000000,1.000000,7.000000,11.000000,4.000000,16.000000,5.000000,1.000000
75%,37.00000,40.000000,12.000000,15.000000,10.000000,4.000000,3.000000,9.000000,15.000000,7.000000,22.000000,11.000000,2.000000
max,49.00000,94.000000,24.000000,26.000000,14.000000,8.000000,15.000000,16.000000,50.000000,23.000000,37.000000,18.000000,4.000000

In [54]:
tot = 0
for k in data.keys():
    if k not in ["W", "INTER", "DESI"]:
        d = data[k][data[k]>0]
        #d = data[k]
        m = int(np.mean(d))
        s = int(np.mean(np.abs(d-m)))
        tot = tot + m
        print('{}\t {:d} +/- {:d}'.format(k, m, s))
print("TOTAL\t {:d}".format(tot))

FAM	 35 +/- 11
BUS	 8 +/- 4
RES	 10 +/- 5
TEACH	 7 +/- 2
SERV	 2 +/- 1
SOC	 4 +/- 2
MB	 7 +/- 2
STR	 12 +/- 5
IDLE	 5 +/- 3
MISC	 17 +/- 5
TOTAL	 107

In [55]:
tot

107